
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row gy-4">
                <!-- Congratulations card -->
                <div class="col-md-12 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-1"><%= metadata?.collegename %> </h4>
                      <p class="pb-0"><%= metadata?.collegedata %></p>
                      <h4 class="text-primary mb-1">29th </h4>
                      <p class="mb-2 pb-1">78% of target 🚀</p>
                      


                        <a href="/manager/main-page" class="btn btn-primary btn-sm">Update Data</a>

                        
                        
                    </div>
                    <img
                      src="/assets/admin/img/icons/misc/triangle-light.png"
                      class="scaleX-n1-rtl position-absolute bottom-0 end-0"
                      width="166"
                      alt="triangle background"
                      data-app-light-img="icons/misc/triangle-light.png"
                      data-app-dark-img="icons/misc/triangle-dark.png" />
                    <img
                      src="/assets/admin/img/illustrations/trophy.png"
                      class="scaleX-n1-rtl position-absolute bottom-0 end-0 me-4 mb-4 pb-2"
                      width="83"
                      alt="view sales" />
                  </div>
                </div>
                <!--/ Congratulations card -->

                <!-- Transactions -->
                <div class="col-lg-8">
                  <div class="card">
                    <div class="card-header">
                      <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title m-0 me-2">Service</h5>
                        <div class="dropdown">
                          <button
                            class="btn p-0"
                            type="button"
                            id="transactionID"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-vertical mdi-24px"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                            <a class="dropdown-item" href="/manager">Refresh</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row g-3">
                        <div class="col-md-3 col-6">
                          <div class="d-flex align-items-center">
                            <div class="avatar">
                              <div class="avatar-initial bg-primary rounded shadow">
                                <i class="mdi mdi-trending-up mdi-24px"></i>
                              </div>
                            </div>
                            <div class="ms-3">
                              <div class="small mb-1">Total Notice</div>
                              <h5 class="mb-0 text-center"><%= data?.notice?.content?.length %></h5>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-6">
                          <div class="d-flex align-items-center">
                            <div class="avatar">
                              <div class="avatar-initial bg-success rounded shadow">
                                <i class="mdi mdi-account-outline mdi-24px"></i>
                              </div>
                            </div>
                            <div class="ms-3">
                              <div class="small mb-1">Total News</div>
                              <h5 class="mb-0 text-center"><%= data?.news?.content?.length %></h5>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-6">
                          <div class="d-flex align-items-center">
                            <div class="avatar">
                              <div class="avatar-initial bg-warning rounded shadow">
                                <i class="mdi mdi-cellphone-link mdi-24px"></i>
                              </div>
                            </div>
                            <div class="ms-3">
                              <div class="small mb-1">Important Link</div>
                              <h5 class="mb-0 text-center"><%= data?.importantlink?.content?.length %></h5>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-6">
                          <div class="d-flex align-items-center">
                            <div class="avatar">
                              <div class="avatar-initial bg-info rounded shadow">
                                <i class="mdi mdi-currency-usd mdi-24px"></i>
                              </div>
                            </div>
                            <div class="ms-3">
                              <div class="small mb-1">Gallery Images</div>
                              <h5 class="mb-0 text-center"><%= count %></h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Transactions -->


                <!-- Data Tables -->        
                <div class="col-md-6 mb-5">
                  <div class="card">
                    <div class="d-flex justify-content-between align-items-center">
                      <h3 class="mb-0 p-3">Notice</h3>
                      <a href="/manager/add-notice" class="btn btn-primary btn-sm me-3">Add Notice</a>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="table-light">
                          <tr>
                            <th>Sr. No</th>
                            <th>Notice Content</th>
                            <th>Date</th>
                            <th>Download</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% sr = 0 %>
                          <% if(data && data.notice && data.notice.content.length > 0){ %>
                          <% data.notice.content.forEach(function(item){ %>
                            <% sr = sr+1 %>
                            <tr>
                              <td><%= sr %></td>
                              <td><%= item['caption'] %></td>
                              <td><%= item['date'] %></td>
                              <td><a href="/images/notices/<%= item['filepath'] %>" download="" class="btn btn-sm btn-primary">File</a></td>
                            </tr>
                          <% }); %>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Data Tables -->        
                <div class="col-md-6 mb-5">
                  <div class="card">
                    <div class="d-flex justify-content-between align-items-center">
                      <h3 class="mb-0 p-3">News & Calendar</h3>
                      <a href="/manager/add-news" class="btn btn-primary btn-sm me-3">Add News</a>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="table-light">
                          <tr>
                            <th>Sr. No</th>
                            <th>News Content</th>
                            <th>Date</th>
                            <th>Download</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% sr = 0 %>
                          <% if(data && data.news && data.news.content.length > 0){ %>
                          <% data.news.content.forEach(function(item){ %>
                            <% sr = sr+1 %>
                            <tr>
                              <td><%= sr %></td>
                              <td><%= item['caption'] %></td>
                              <td><%= item['date'] %></td>
                              <td><a href="/images/notices/<%= item['filepath'] %>" download="" class="btn btn-sm btn-primary">File</a></td>
                            </tr>
                          <% }); %>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                  <!--/ Data Tables -->

              </div>
            </div>
            <!-- / Content -->


            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->


