<!-- Content wrapper -->
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

        <h4 class="py-3 mb-3">Widget</h4>



        <div class="col-12 mb-5">
            <div class="card">
              <div class="table-responsive">
                <table class="table">
                  <thead class="table-light">
                    <tr>
                      <th>Sr. No</th>
                      <th>Notice Content</th>
                      <th>File Name</th>
                      <th>Download</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% sr = 0 %>
                    <% if(data && data.notice && data.notice.content.length > 0){ %>
                    <% data.notice.content.forEach(function(item){ %>
                      <% sr = sr+1 %>
                      <tr>
                        <td><%= sr %></td>
                        <td><%= item['caption'] %></td>
                        <td><%= item['filepath'] %></td>
                        <td><a href="/images/notices/<%= item['filepath'] %>" download="" class="btn btn-sm btn-primary">File</a></td>
                        <td><%= item['date'] %></td>
                        <td><a class="btn btn-sm btn-danger" href="/manager/delete-notice/<%= item['_id'] %>">Delete</a></td>
                      </tr>
                    <% }); %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

            <div class="col-md-12">
                    
                        <div class="card mb-4">
                            <h5 class="card-header">Create Important Link</h5>
                            <div class="card-body">
                                <form action="/manager/add-notice" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-floating form-floating-outline mb-4">
                                                <input type="text" class="form-control" id="caption"
                                                    placeholder="fa-book" name="caption" />
                                                <label for="caption">Notice Content</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-floating form-floating-outline mb-4">
                                                <input type="date" class="form-control" id="date"
                                                    placeholder="Enter post date" name="date" />
                                                <label for="date">Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-floating form-floating-outline mb-4">
                                                <input type="file" class="form-control" id="notice" name="notice"/>
                                                <label for="href">Notice Update</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
            </div>



    </div>
</div>